.navGrid {
    display: flex;
    // background-color: #fff;
    height: 35px;
    a {
        text-transform: uppercase;
        text-decoration: none;
        color: #445565;
        width: 100%;
        padding: 8px;
        height: 100%;
    }

    li {
        padding: 0;
        font-weight: 700;
        font-size: 0.8rem;
    }

    .overrideItem {
        overflow: initial;
    }

    @media only screen and (max-width: 480px) {
        li {
            font-size: 0.7rem;
            min-height: auto;
        }
    }
}

.navMobile {
    width: 100%;
    background-color: #fff;

    a {
        text-decoration: none;
        color: #445565;
        width: 100%;
        padding: 8px;
        height: 100%;
        margin-left: 20px;
    }

    li {
        padding: 0;
        font-weight: 700;
    }

    .overrideItem {
        overflow: initial;
    }
}

.itemWrap {
    display: flex;
    text-transform: uppercase;
    svg {
        font-size: 1rem;
    }
}

.navLi {
    span {
        max-width: 90%;
        font-size: 0.9rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    svg {
        font-size: 0.9rem;
    }
    a {
        text-transform: initial;
        padding: 0;
        width: 100%;
    }
    div:nth-child(1) {
        min-width: 90%;
    }
    div:nth-child(2) {
        min-width: 10%;
    }
}

.disabledLink {
    pointer-events: none;

    div:nth-child(1) {
        display: flex;
        align-items: center;

        span {
            width: 90%;
        }
    }
}
